body {
    margin: 0 auto;
    background-color: gray;
    
}
h1 {
    font-size: 3em;
    color: green;
    text-align: center;
}
ul {
    list-style-type: none;
    line-height: 1.3em;
    padding-left: 25px;
}
h2 {
    color: white;
}
#flex {
    display: flex;
    flex-direction:row;
    justify-content:space-around;

}

.mystory {
    margin-left: 5%;
}
img:first-of-type {
    display: block;
    margin: auto;
    object-fit: contain;
    border-radius: 50%;
    
}
#pics {
    display: flex;
    justify-content: space-around;
}
img {
    border: 1px solid black;
}